<!DOCTYPE html>
@{
    ViewBag.Title = "Breakfast";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/BreakfastCSS")
</head>
<body>
    @Html.Partial("~/Views/Partials/_NavBar.cshtml")
    <section class="module parallax Breakfast1">
        <div style="height:95%;">
            <div class="DayName">
                Time To Breakfast
            </div>
        </div>
        <div style="width: 100%; height: 50px;">
            <div class="links">
                <a href="http://yourrecipes.azurewebsites.net/Home/Coffee">Coffee</a>
                <a href="http://yourrecipes.azurewebsites.net/Home/Breakfast">Breakfast</a>
                <a href="http://yourrecipes.azurewebsites.net/Home/Dinner">Dinner</a>
                <a href="http://yourrecipes.azurewebsites.net/Home/Lunch">Lunch</a>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Partials/_MenuSectionWithFind.cshtml")


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
    @Scripts.Render("~/bundles/BreakfastJS")
</body>
</html>