@model IEnumerable<MenuApp.Core.Entities.Contact>

@{
    ViewBag.Title = "ShowQuestions";
}

<div class="text-center" style="color: #03a9f4">
    <h2>NowePytania</h2>
</div>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.DateQuestion)</th>
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <th class="text-right">@Html.DisplayNameFor(model => model.IsActive)</th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.DateQuestion)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td class="text-right">@Html.DisplayFor(modelItem => item.IsActive)</td>
            <td class="td-actions text-right">

                    <button type="button" rel="tooltip" title="Details" class="btn btn-info btn-simple btn-xs ">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </button>
                    <button type="button" rel="tooltip" title="AnswerTheQuestion" class="btn btn-success btn-simple btn-xs" onclick="AnswerTheQuestion(@item.Id)">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                        <i class="glyphicon glyphicon-ok-circle"></i>
                    </button>              
            </td>
        </tr>
        </tbody>
    }
</table>

