@using PagedList.Mvc
@model PagedList.IPagedList<MenuApp.Core.Entities.User>

@{
    ViewBag.Title = "ShowUsers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/Content/MaterialKit/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>

</head>
<body>
<p>
    @Html.ActionLink("Create New", "Registration", "Authorization")
@Html.Action("FindUsers", "Admin");

<table class="table">
    <thead>
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>DateCreateAccount</th>
        <th>DateofChangePassword</th>
        <th class="text-left;" >Role</th>
        <th class="text-left;">IsActive</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.DateCreateAccount)</td>
            <td>@Html.DisplayFor(modelItem => item.DateOfChangePassword)</td>
            <td>@Html.DisplayFor(modelItem => item.Role)</td>
            <td ><input type="checkbox" name="IsActive" disabled checked></td>
            <td class="td-actions text-right">
                <a href="@item.Id">
                    <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                        <i class="glyphicon glyphicon-user"></i>
                    </button>
                </a>
                <a href="EditUsers/@item.Id">
                    <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </a>
                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>

            </td>
        </tr>
    }

    </tbody>
</table>

    @Html.PagedListPager(Model, page => Url.Action("ShowUsers",
            new { page }))
</body>
</html>